{% extends "admin-main.html" %}


{% block content %}
<main id="main" class="main">
    {% load static %}

    <div class="pagetitle">
        <h1>CQTS Admin</h1>
        <p>Batches</p>
        <br>
        <br>
        <h5 class="text-primary inform-expand" id="inform-expand">Click on <i class="bi bi-list"></i> above to enlarge
            table</h5>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <div class="datatable-wrapper">
                    <!-- Table with stripped rows -->
                    <table class="table datatable table-striped" style="text-align: center !important;"> 
                        <thead>
                            <tr>
                                <th scope="col">Batch_id</th>
                                <th scope="col">Type</th>
                                <th scope="col">Grade</th>
                                <th scope="col">Color</th>
                                <th scope="col">Cooperative</th>
                                <th scope="col">Approved</th>
                                <th scope="col">Exporter</th>
                                <th scope="col">Sold_to_exporter</th>
                                <th scope="col">Date_sold_to_exporter</th>
                                <th scope="col">Buyer</th>
                                <th scope="col">Sold_to_Buyer</th>
                                <th scope="col">Date_sold_to_buyer</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for batch in batches %}
                            <tr>
                                <td scope="row">{{batch}}</td>
                                <td>{{batch.type}}</td>
                                <td>{{batch.grade}}</td>
                                <td>{{batch.color}}</td>
                                <td>{{batch.cooperative.name}}</td>
                                {% if batch.is_approved == True %}
                                <td><i class="bi bi-check-circle-fill text-success"></i></td>
                                {% else %}
                                <td><i class="bi bi-x-circle-fill text-danger"></i></td>
                                {% endif %}
                                <!-- <td>{{batch.is_approved}}</td> -->
                                {% if batch.exporter == None %}
                                <td>None</td>
                                {% else %}
                                <td>{{batch.exporter.name}}</td>
                                {% endif %}
                                <!-- <td>{{batch.sold_to_exporter}}</td> -->
                                {% if batch.sold_to_exporter == True %}
                                <td><i class="bi bi-check-circle-fill text-success"></i></td>
                                {% else %}
                                <td><i class="bi bi-x-circle-fill text-danger"></i></td>
                                {% endif %}
                                <td>{{batch.date_sold_to_exporter}}</td>
                                {% if batch.buyer == None %}
                                <td>None</td>
                                {% else %}
                                <td>{{batch.buyer.name}}</td>
                                {% endif %}
                                <!-- <td>{{batch.sold_to_buyer}}</td> -->
                                {% if batch.sold_to_buyer == True %}
                                <td><i class="bi bi-check-circle-fill text-success"></i></td>
                                {% else %}
                                <td><i class="bi bi-x-circle-fill text-danger"></i></td>
                                {% endif %}
                                <td>{{batch.date_sold_to_buyer}}</td>
                            </tr>

                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </section>

</main><!-- End #main -->
{% endblock %}