{% extends 'admin-main.html' %}


{% block content %}
{% load static %}
<main id="main" class="main">

    <!-- <div class="pagetitle">
            <div class="pagetitle">
                <h1>CQTS Admin Dashboard</h1>
                <p>Dashboard</p>
            </div> -->
    <!-- End Page Title -->
    <!-- <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item">Pages</li>
                    <li class="breadcrumb-item active">Contact</li>
                </ol>
            </nav> -->
    </div><!-- End Page Title -->

    <section class="section contact">

        <div class="row gy-4 farmer-reg-form">

            <div class="col-xl-6">
                <div class="card p-4">
                    <form action="" method="post" class="email-form">
                       
                       {% csrf_token %}
                        <h1 class="head-label">Register Exporter</h1>
                        <div class="row gy-4">

                            <div class="col-md-12">
                                <input type="text" name="exporter_name" class="form-control" placeholder="Exporter Name"
                                    required>
                            </div>
                            <div class="col-md-12">
                                <input type="text" class="form-control" name="license_no" placeholder="License No."
                                    required>
                            </div>

                            <div class="col-md-12">
                                <input type="tel" name="phone" class="form-control"
                                    placeholder="Phone Number: 0700000000" pattern="[0]{1}[7]{1}[0-9]{8}" required>
                            </div>


                            <div class="col-md-12 ">
                                <input type="email" class="form-control" name="email" placeholder="Your Email" required>
                            </div>

                            <div class="col-md-12">
                                <input type="text" class="form-control" name="district" placeholder="District" required>
                            </div>

                            <div class="col-md-12 text-center">
                                <input type="submit" value="Register Exporter" name="Register Exporter"
                                    class="btn btn-warning">

                            </div>

                        </div>
                    </form>
                </div>

            </div>

        </div>

    </section>

</main><!-- End #main -->
{% endblock %}