<!DOCTYPE html>
<html>
<head>
    <title>Account Registration Details</title>
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
            color: #000;
        }
    </style>
</head>
<body>
    <h1>Welcome to the CQTS System!</h1>
    <p>Dear {{ name }},</p>
    <p>Your {{ type }} account has been successfully registered in the CQTS system by an administrator.</p>
    
    <h2>Account Details:</h2>
    <p><strong>Email:</strong> {{ email }}</p>
    <p><strong>Password:</strong> {{ password }}</p>
    
    <p>Please keep your  password confidential and do not share them with anyone.</p>

    <p>You can later reset your password</p>

    {% if type == 'cooperative' %}
    
    <p> Click <a href="{% url 'cooperative-login' %}">here</a> to login</p>

    {% elif type == 'exporter' %}

    <p>Login using the cqts moblie app</p>

    {% endif %}
    
    <p>If you have any questions or need assistance, please feel free to contact our support team.</p>

   <a href="https://support.cqts.com">Support team</a>

   <p>call Admin: 0704038726</p>
    
    <p>Best regards,</p>
    <p>The CQTS Team &copy; 2023</p>
</body>
</html>
