<!-- custom_password_reset_done.html -->

<!DOCTYPE html>
<html>
<head>
  <title>Password Reset Email Sent</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f2f2f2;
      margin: 0;
      padding: 20px;
    }

    h2 {
      color: #333;
    }

    p {
      color: #666;
      margin-bottom: 20px;
    }

    .container {
      max-width: 400px;
      margin: 0 auto;
      background-color: #fff;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
  </style>
</head>
<body>
  <div class="container">
    <h1>CQTS</h1>
    <h2>Password Reset Email Sent</h2>
    <p>We have sent you an email with instructions on how to reset your password. Please check your inbox. <br>  
    Thank you!
    </p>
  </div>
</body>
</html>
